* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: Avenir;
  src: url(./assets/fonts/Avenir.ttc);
}

@font-face {
  font-family: ITC Avant Garde Gothic Pro;
  src: url(./assets/fonts/ITCAvantGardePro-Md.otf);
}

@font-face {
  font-family: Avant-Bold;
  src: url(/assets/fonts/ITCAvantGardePro-Bold.otf);
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.background-section {
  width: 720px;
}

.bg {
  height: auto;
  max-width: 100%;
}

.product-section {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 96px 120px;
}

.content-title {
  height: 123px;
  width: 494px;
}

.title {
  font-family: Avant-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 130%;
  display: flex;
  align-items: flex-end;
}

.mobile-title {
  display: none;
}

.content-description {
  height: 52px;
  width: 432px;
  margin-top: 12px;
}

.description {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #666666;
}

.button {
  height: 17px;
  width: 146px;
  border: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 12.8px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: none;
  margin-top: 32px;
  cursor: pointer;
}

.fill {
  width: 146px;
  height: 1px;
  background: #000000;
  margin-top: 5px;
}

.slider {
  margin-top: 68px;
  max-width: 906px;
  overflow-x: scroll;
}

.slider::-webkit-scrollbar {
  display: none;
}

.product-cards {
  display: flex;
  gap: 32px;
}

.product-info {
  width: 230px;
}

.product-image {
  width: 230px;
  height: 310px;
}

.product-name {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 160%;
  margin-top: 10px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  opacity: 72%;
}

.price-colors {
  height: 20px;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 12.8px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 4px;
}

.colors {
  display: flex;
  gap: 7px;
}

.color-one {
  box-sizing: border-box;
  border: 1.5px solid #000;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #99c3cc;
}

.color-two {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #cc9999;
}

.color-three {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #cb99cc;
}

.color-four {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #a6cc99;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

  .background-section {
    width: 100%;
  }

  .product-section {
    position: relative;
  }

  .content-title {
    position: absolute;
    width: 312px;
    height: 78px;
    top: -200px;
    left: 24px;
    color: #fff;
  }

  .title {
    font-size: 20px;
  }

  .content-description {
    display: none;
  }

  .button {
    position: absolute;
    top: -130px;
    left: 24px;
    color: #fff;
    text-transform: capitalize;
  }

  .fill {
    position: absolute;
    top: -80px;
    left: 24px;
    background-color: #fff;
  }

  .right-arrow {
    display: none;
  }

  .slider {
    position: absolute;
    top: -120px;
    left: 24px;
    max-width: 516px;
    height: 293px;
  }

  .product-cards {
    display: flex;
  }

  .product-info {
    width: 149px;
    height: 40px;
  }

  .product-image {
    width: 148px;
    height: 200px;
  }

  .price-colors {
    height: 20px;
    width: 230px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .background-section {
    width: 100%;
  }

  .layout {
    display: flex;
    flex-direction: column;
  }

  .product-section {
    position: relative;
  }

  .content-title {
    position: absolute;
    width: 400px;
    height: 105px;
    top: -390px;
    left: 60px;
    color: #fff;
  }

  .title {
    font-size: 42px;
  }

  .content-description {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .button {
    position: absolute;
    top: -180px;
    left: 60px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    width: 220px;
    height: 25px;
  }

  .fill {
    position: absolute;
    top: -120px;
    left: 60px;
    width: 220px;
    background-color: #fff;
  }

  .slider {
    position: absolute;
    top: -160px;
    left: 60px;
    max-width: 516px;
    height: 293px;
  }

  .product-cards {
    display: flex;
    max-width: 200px;
  }

  .product-info {
    width: 149px;
    height: 40px;
  }

  .product-image {
    width: 178px;
    height: 230px;
  }

  .price-colors {
    height: 20px;
    width: 230px;
    display: flex;
    flex-direction: column;
  }

  .price {
    margin-top: 4px;
  }

  .colors {
    margin-top: 4px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .background-section {
    width: 600px;
    height: auto;
  }

  .bg {
    height: 100%;
  }

  .product-section {
    padding: 80px 60px;
  }

  .content-title {
    width: 300px;
    height: 150px;
  }

  .right-arrow {
    display: none;
  }

  .content-description {
    height: 32px;
    width: 332px;
    margin-top: 12px;
  }

  .button {
    margin-top: 65px;
  }
}
